@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Yu Gothic UI','Meiryo UI','ＭＳ Ｐゴシック','MS PGothic','MS UI Gothic','メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;

}

/* header */
header{
	background-color: #52ad87;
}

/* logo  */
.f-left {
	float: left;
}

/* ddmenu */
.f-right {
	float: right;
	z-index: 100;
}
.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

ul, ol {
	list-style-type: none;
}

/* メインメニュー項目の装飾 */
ul.ddmenu>li:not(:first-child) {
  margin-left: 1px;
}
ul.ddmenu li {
	display: inline-block;
	width: 135px;/* メニュー項目の横幅 */
	line-height: 80px;/* メニュー項目の高さ */
	position: relative;
	background-color: rgb(36, 112, 83);/* 親メニュー項目の背景色  */
	color: white;/* 親メニュー項目の文字色 */
	text-align: center;
	font-weight: bold;/* 太字にする(好み) */
}
ul.ddmenu a {
	display: block;
	text-decoration: none;
}

/* ▼サブメニューがある場合に開く処理 */	/* ※サブメニューが2階層以上ある場合の記述 */

ul.ddmenu li:hover > ul {
	display: block;/* ★マウスポインタが載っている項目の内部にあるリストを表示する */
}

/* ▼サブメニューの装飾 */
ul.ddmenu ul {
	display: none;/* ★標準では非表示にする */
	position: absolute;/* ★絶対配置にする */
	line-height: 35px;
}

/* ▼サブメニュー(以降の)項目の装飾 */
ul.ddmenu ul li {
	width: 135px;/* サブメニュー1項目の横幅(135px) */
	margin-top: 1px;
	line-height: 35px;/* サブメニュー1項目の高さ(35px) */
	text-align: left;/* 文字列の配置(左寄せ) */
	background-color: rgb(58, 163, 105);/* 子メニュー項目の背景色 */
	color: white;/* 子メニュー項目の文字色 */
	font-weight: normal; /* 太字にはしない */
}
ul.ddmenu ul li a {
	line-height: 35px;/* サブメニュー1項目の高さ(35px) */
	text-align: left;/* 文字列の配置(左寄せ) */
	font-weight: normal;/* 太字にはしない */
	
}
ul.ddmenu ul li a:hover {
	background-color: rgb(206, 72, 134);/* 孫メニュー項目にホバー時の背景色 */
	color: #fffeff;/* 孫メニュー項目にホバー時の文字色 */
}

/* ▼3階層目以降(孫メニュー以降)の装飾 */	/* ※下ではなく横(右)に表示します。 */
ul.ddmenu ul ul {
	display: none;		/* ★標準では非表示にする */
	position: absolute;  /* ★絶対配置にする */
	top: -1px;			/* 1pxだけ上方向にずらす(※上に1pxの枠線を引いている場合) */
	left: 100%;		  /* ★基準位置からの距離を親ボックスの幅100％にする */
	border-left: 1px solid rgb(255, 255, 255); /* 左側に引く枠線 */
}

/* slider */
.slider {
	width: 100%;
	max-width: 100%;
	height: 600px;
	display: flex;
	text-align: center;
}


/* main */
main {
	width: 1000px;
	margin: 0 auto;
} 


/* footer */
footer{
	background-color: #52ad87;
	clear: both;
	
}

/* footer mnners */
#manners {
	background-color: #bbffe5;
	text-align: center;
	line-height: 2;
}

#manners em {
	color: rgb(236, 4, 132);
}

#manners h2 {
	text-decoration: underline #026947;/*下線*/
}

/* footer about */
.about {
	position: relative;
 }
 .about p {
	position: absolute;
	color:red;
	font-weight: bold;
	font-size: 2em;
	top: 0;
	left: 0;
 }
 .about img {
	width: 100%;
 
 }
